body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(42, 209, 173);
}

h2 {
  font-size: 40px;
}

.btn{
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(7, 89, 104);
  color: white;
  cursor: pointer;
}

.counter{
  margin: 20px 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter input{
  font-weight: 400;
  font-size: large;
  padding: 15px;
  border-radius: 10px;
}

nav{
  font-size: larger;
  font-weight: 400;
  background-color: rgb(225, 212, 235);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  
  
}

